<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:cu="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <span class="text1">Welcome To</span>
    <span class="text2">Online Book Store</span>
</div>
<div class = "usertype">
    <form action="/login">
        <p>Please select your type:</p>
        <input type="radio" id="admin" name="type" value="admin">
        <label for="admin">Admin</label>
        <input type="radio" id="user" name="type" value="user">
        <label for="user">User</label>
        <br><br>
        <input type="submit" value="Login/Signup">
    </form>

</div>


</body>
</html>